/* basic styling */

.body {
  font-family: sans-serif;
}

.ats {
  max-width: 800px;
}

.ats-status {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.ats-status * {
  padding-left: 3px;
}

.ats-parents {
  display: flex;
  flex-flow: column;
  margin-left: 30px;
  justify-content: space-between;
}

.ats-parent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  box-shadow: 3px 3px 4px black;
}

.ats-expl {
  box-shadow: 3px 3px 2px teal;
  padding: 3px;
}

.ats-parent > * {
  padding: 1px;
  margin-left: 5px;
}

.ats-state {
  display: flex;
  flex-flow: column wrap;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: lightskyblue;
  outline: solid teal 1px;
  box-shadow: 3px 3px 4px black;
  min-width: 300px;
}

.ats-state > * {
  padding: 1px;
  margin: 1px;
}

.ats-trail {
  display: flex;
  flex-flow: column;
  justify-content: normal;
}

.ats-clauses {
  display: flex;
  flex-flow: column wrap;
  justify-content: normal;
}

.ats-parse-examples {
  display: flex;
  flex-flow: row wrap;
  background-color: lightsteelblue;
}

.ats-choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  border: green solid 3px;
}

.ats-choice > * {
  padding: 3px;
  margin: 5px;
}

.ats-trail > li {
  list-style: none;
}

